/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .alert-error {
   padding: 10px;
   color: #990000;
   border: 2px solid #990000;
 }

.alert-success {
  padding: 10px;
  color: green;
  border: 2px solid green;
}

.alert-notice {
  padding: 10px;
  color: #4c4cff;
  border: 2px solid #4c4cff;
}

.nav-links li {
  display: inline;
  list-style: none;
  margin-right: 6px;
}

.clear {
  clear: both;
}

.nav {
  border-bottom: 1px solid #aaa;
  margin-bottom: 20px;
  padding: 10px 0 0 5px;

  h1 {
    float: left;
    margin: 0 1em 0 0;
  }

  a {
    text-decoration: none !important;
  }

  ul {
    float: left;
    list-style: none;
    clear: right;
    margin: 0 0 0 1em;
    padding: 0;
  }

  ul li {
    float: left;
  }

  ul li a {
    display: block;
    width: auto;
    padding: 8px 10px 8px 10px;
    background: #eee;
    color: #aaa;
  }

  ul li a:hover {
    background: #aaa;
    color: #eee;
  }
}
